* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image:  url('/images/bg-mobile.svg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #684BB1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

header {
    margin: 38.2px 0 70px 40px;
}

.container, .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info {
    margin-top: 60px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600px;
    width: 280px;
    height: 72px;
}

p {
    width: 304px;
    height: 120px;
    line-height: 24px;
    margin: 0;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #684BB1;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-top: 24px;
}
